# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# Firebase
GoogleService-Info.plist

# OS
.DS_Store
*.swp
*~

# CocoaPods (if ever used)
Pods/
